

<!-- File Name: bottom_nav.ejs
Student's Name: Aishwarya Pawar
Student ID: 301299470
Date: 02-10-2023-->




<section id="contact" class="footer_wrapper mt-3 mt-md-0">
  <div class="container mt-5">
      <div class="row align-items-center justify-content-center">
          <div class="col-12 text-center">

              <div class="my-4 social-icons">
                  <ul class="list-unstyled d-flex justify-content-center align-items-center">
                      <li><a href="https://www.facebook.com/profile.php?id=100088470687391"><i class="fab fa-facebook"></i></a></li>
                      <li><a href="https://twitter.com/home"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-8 col-sm-12">
              <p class="footer-text text-center my-2"> © Aishwarya Pawar 2023</i>
              </p>

          </div>
      </div>
  </div>
</section>