

<!-- File Name: footer.ejs
Student's Name: Aishwarya Pawar
Student ID: 301299470
Date: 02-10-2023-->

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
