
<!-- File Name: products.ejs
Student's Name: Aishwarya Pawar
Student ID: 301299470
Date: 02-10-2023-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

    <!-- portfolio Section -->
    <div class="container mt-5">
        <section id="portfolio" class="portfolio_wrapper">
            <div class="row">
                <div class="col-md-12 text-center mb-4">
                    <h3 style="color: white;"> || PROJECTS || </h3>
                </div>
            </div>

            <div class="row justify-content-center align-items-center">
                <style>
                    body {
                        background-color: black;
                    }
        
                    .text-justify {
                      
                        text-align: justify;
                    }
                </style>   
              <div class="col-lg-3 col-sm-6 mb-4">
                <div class="card rounded-0 border-0 text-center py-5 px-3">
                    <div>
                        <img decoding="async" src="/img/project1.png" width="160" height="150">
                    </div>
                    <h5 class="text-uppercase mt-4 mb-3">INVENTORY MANAGEMENT SYSTEM</h5>
                    <p style="background-color: black; color: white;" class="text-justify"> In my Python inventory management project, I have developed a comprehensive solution to efficiently track and manage inventory. Using Python's powerful capabilities, I have created a user-friendly system that allows businesses to easily monitor stock levels, update product information, and generate reports.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4">
                <div class="card rounded-0 border-0 text-center py-5 px-3">
                    <div>
                        <img decoding="async" src="/img/project2.png" width="150" height="150">
                    </div>
                    <h5 class="text-uppercase mt-4 mb-3">Database management for bank</h5>
                    <p style="background-color: black; color: white;">I developed an SQL-based bank management project that provides a robust and secure system for managing financial transactions, customer accounts, and banking operations. Using SQL's database capabilities, I created a reliable platform that enables banks to handle varios operations.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4">
                <div class="card rounded-0 border-0 text-center py-5 px-3">
                    <div>
                        <img decoding="async" src="/img/project3.jpg" width="150" height="180">
                    </div>
                    <h5 class="text-uppercase mt-4 mb-3">WEBSITE FOR REAL ESTATE</h5>
                    <p style="background-color: black; color: white;">I designed a real estate website that serves as a one-stop destination for property seekers and sellers. This user-friendly platform features detailed property listings, interactive maps, and powerful search filters, making it easy for users to find their dream homes or sell their properties.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4">
                <div class="card rounded-0 border-0 text-center py-5 px-3">
                    <div>
                        <img decoding="async" src="/img/project4.jpg" width="200" height="190">
                    </div>
                    <h5 class="text-uppercase mt-4 mb-3">PIZZA DELIVERY APP USING VB.NET</h5>
                    <p style="background-color: black; color: white;"> I've developed a user-friendly pizza delivery app using VB.NET that simplifies the ordering process for pizza enthusiasts. This app allows users to browse through a diverse menu, customize their pizza with various toppings and sizes, and place orders with ease. </p>
                </div>
            </div>

            <div class="row justify-content-center mt-4">
                <div class="col-md-4 text-center">
                    <button class="btn  main-btn primary-btn">Thank You!</button>
                </div>
            </div>
        </section>
    </div>
    <!-- portfolio Section exit -->


<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
