<!-- File Name: services.ejs
Student's Name: Aishwarya Pawar
Student ID: 301299470
Date: 02-10-2023-->



<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

    
    <!-- Services Page -->
    <div class="main_bg">

        <div class="banner_container">

            <section id="services" class="services_wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center mb-5">
                            <h3 style="color: white;"> || SERVICES ||</h3>
                            <p style="background-color: white; color:black;">Software Engineering services specialize in developing high-performance web applications, leveraging cutting-edge technologies and industry best practices to ensure optimal functionality and scalability. <br
                                    class="d-none d-lg-block">
                               </p>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <div class="card rounded-0 border-0 text-center py-5 px-3">
                                <div>
                                    <img decoding="async" src="/img/service1.png" width="160" height="150">
                                </div>
                                <h5 class="text-uppercase mt-4 mb-3">Web DEVELOPMENT</h5>
                                <p style="background-color: black; color: white;"> Web development is the process of designing web applications for the internet, encompassing both front-end and back-end development.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <div class="card rounded-0 border-0 text-center py-5 px-3">
                                <div>
                                    <img decoding="async" src="/img/UIdesign.png" width="180" height="150">
                                </div>
                                <h5 class="text-uppercase mt-4 mb-3">UI/UX DESIGN</h5>
                                <p style="background-color: black; color: white;">UI/UX design is about creating user-centric digital experiences that are visually appealing, easy to use, and provide seamless interactions.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <div class="card rounded-0 border-0 text-center py-5 px-3">
                                <div>
                                    <img decoding="async" src="/img/web-design.png" width="195" height="180">
                                </div>
                                <h5 class="text-uppercase mt-4 mb-3">WEB DESIGN</h5>
                                <p style="background-color: black; color: white;">Web design involves the planning and creation of the visual and interactive elements of websites.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <div class="card rounded-0 border-0 text-center py-5 px-3">
                                <div>
                                    <img decoding="async" src="/img/service4.jpg" width="185" height="150">
                                </div>
                                <h5 class="text-uppercase mt-4 mb-3">EXPRESS JS</h5>
                                <p style="background-color: black; color: white;">Express.js is a fast web application framework for Node.js that simplifies building robust web applications.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>






        </div>
    </div>
    <!-- Services Page exit -->


<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
